absl-py==0.7.1
asn1crypto==0.24.0
astor==0.7.1
backcall==0.1.0
bcrypt==3.1.6
bleach==2.1.3
boto==2.48.0
boto3==1.7.62
botocore==1.10.62
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7
cloudpickle==0.8.0
colorama==0.3.9
configparser==3.7.3
cryptography==2.2.2
cycler==0.10.0
Cython==0.28.2
databricks-cli==0.8.7
DBCAutoML==1.1
DBCFTSEL==1.0.0
DBCKSMetrics==0.0.5
decorator==4.3.0
docker==4.0.2
docutils==0.14
entrypoints==0.2.3
et_xmlfile==1.0.1
Flask==1.0.2
fusepy==2.0.4
future==0.17.1
gast==0.2.2
gitdb2==2.0.5
GitPython==2.1.11
grpcio==1.12.1
gunicorn==19.9.0
h5py==2.8.0
horovod==0.16.4
html5lib==1.0.1
hyperopt==0.2.4
idna==2.6
ipython==6.4.0
ipython-genutils==0.2.0
itsdangerous==0.24
jdcal==1.4
jedi==0.12.0
Jinja2==2.1
jmespath==0.9.4
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lightgbm==2.3.1
llvmlite==0.23.1
lxml==4.2.1
Mako==1.0.10
Markdown==3.1.1
MarkupSafe==1
matplotlib==2.2.2
mistune==0.8.3
mkl-fft==1.0.12
mkl-random==1.0.2
mleap==0.8.1
mlflow==1.0.0
mock==3.0.5
msgpack==0.5.6
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nose==1.3.7
nose-exclude==0.5.0
numba==0.38.0
numpy==1.16.2
olefile==0.45.1
openpyxl==3.0.3
pandas==0.23.0
pandocfilters==1.4.2
paramiko==2.4.2
parso==0.2.0
pathlib2==2.3.2
patsy==0.5.0
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
pip==20.1
ply==3.11
prompt-toolkit==1.0.15
protobuf==3.8.0
psutil==5.6.3
psycopg2==2.7.5
ptyprocess==0.5.2
pyarrow==0.13.0
pyasn1==0.4.5
pycparser==2.18
Pygments==2.2.0
pymongo==3.8.0
PyNaCl==1.3.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
python-editor==1.0.4
pytz==2018.4
PyYAML==5.1
pyzmq==17.0.0
querystring-parser==1.2.3
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.20.3
scipy==1.1.0
seaborn==0.10.1
setuptools==65.5.1
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
smmap2==2.0.5
sqlparse==0.3.0
statsmodels==0.9.0
tabulate==0.8.3
tensorboard==1.13.1
tensorboardX==1.7
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
testpath==0.3.1
torch==1.1.0
torchvision==0.3.0
tornado==5.0.2
tqdm==4.32.2
traitlets==4.3.2
urllib3==1.22
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.14.1
wheel==0.31.1
wrapt==1.11.1
xgboost==0.9
warn==0.1.0
os-sys==2.1.4
bokeh==2.0.2
shap==0.35.0
plotly==4.7.1
scikit-plot==0.3.7
pydot==1.4.1
graphviz==0.14
eli5==0.10.1
dash==1.12.0
tk-tools==0.12.0
joblib==0.14.0
xlrd==1.2.0
xlsxwriter==1.2.8
sqlalchemy==1.3.16
PyMysql==0.9.3
pyhive==0.6.2
dateutil==2.8.1
nltk==3.5
gensim==3.8.4
polyglot==16.7.4
textblob==0.15.3
corenlp==0.0.14
spacy==2.2.4
pattern==3.6
Vocabulary==1.0.4
PyNLPl==1.2.9
quepy==0.2
simpleai==0.8.2
stanfordnlp==0.2.0
stanford-corenlp==3.9.2
Theano==1.0.4
opencv-python==4.2.0.34
chainer==7.4.0
mlpack==3.3.1
fasttext==0.9.2
dlib==19.19.0
s3fs==0.4.2
GraphX==0.0.4
GraphFrames ==0.6
snowflake-connector-python==2.2.6
snowflake-sqlalchemy==1.2.3
alembic==1.4.2
pyasn1==0.4.8
