abind
backports
BH
bitops
brew
carData
chron
clipr
codetools
compiler
curl
spelling
DBI
devtools
dplyr
forcats
forge
generics
git2r
gower
grid
gtable
covr
hms
httr
ini
jsonlite
rex
tinytest
Hmisc
lattice
littler
magrittr
maptools
MatrixModels
microbenchmark
multcomp
mgcv
ModelMetrics
nlme
numDeriv
parallel
pkgbuild
pkgload
praise
processx
debugme
proto
quantreg
R.utils
randomForest
RColorBrewer
RcppRoll
readxl
remotes
rlang
rpart
RSQLite
sessioninfo
SparkR
splines
statmod
stringi
sys
testthat
tidyselect
usethis
ISOcodes
pdftools
qpdf
viridisLite
xml2
hunspell
janeaustenr
wordcloud2
zip
askpass
base
bit
blob
callr
caret
class
clisymbols
colorspace
config
data.table
dbplyr
digest
ellipsis
foreach
fs
ggplot2
glmnet
graphics
gridExtra
h2o
htmltools
hwriter
ipred
KernSmooth
zeallot
lava
lme4
mapproj
MASS
aws.signature
aws.s3
memoise
mime
munsell
nloptr
openssl
pbkrtest
disposables
pkgconfig
plogr
prettyunits
prodlim
ps
R.methodsS3
r2d3
rappdirs
rbenchmark
Rcpp
inline
RCurl
recipes
reshape2
RODBC
rprojroot
rstudioapi
sp
SparseM
sqldf
stats
stringr
tcltk
tibble
timeDate
utf8
pkgdown
whisker
xopen
assertthat
prettycode
highlight
webshot
dtplyr
vctrs
base64enc
bit64
boot
car
cellranger
later
AsioHeaders
websocket
httpuv
selectr
cliapp
cli
cluster
commonmark
mockery
crayon
datasets
desc
doMC
diffobj
unitizer
fansi
foreign
gbm
gh
stopwords
glue
grDevices
gsubfn
haven
htmlwidgets
hwriterPlus
iterators
labeling
lazyeval
lubridate
maps
latticeExtra
Formula
Matrix
methods
minqa
mvtnorm
nnet
openxlsx
pillar
whoami
pkgKitten
plyr
pROC
progress
purrr
R.oo
highr
evaluate
TH.data
testit
R6
rcmdcheck
RcppEigen
readr
rematch
rio
roxygen2
Rserve
scales
sparklyr
spatial
SQUAREM
stats4
survival
TeachingDemos
tidyr
tools
utils
withr
yaml
tidyverse
ROCR
gplots
tree
arules
lars
kernlab
MICE
standardize
lsmeans
emmeans
infer
DataExplorer
flexDashboard
janitor
mlr
xgboost
kknn
rbokeh
RMySQL
E1071
odbc
shiny
plotly
Lahman
knitr
DT
markdown
rmarkdown
zoo
xfun
tinytex
gecon
xlsx
ggthemes
plm
dynlm
xts
forecast
astsa
hexbin
GGally
pgmm
date
ggridges
tseries
vars
nlwaldtest
broom
sandwich
aer
xtable
psych
summarytools
